<html>
<head><title>CLPOI</title></head>
<body>
<form method='get' action='/res'>
City: <input type='text' name='city'/> (leave it blank for whole Bay Area)<br/>
Distance (in km): <input type='text' name='radius' value='0.5'/><br/>
# of bedrroms: <input type='text' name='bedrooms' value='1'/><br/>
Min. Price: <input type='text' name='minAsk' value='0'/><br/>
Max. Price: <input type='text' name='maxAsk' value='5000'/><br/>
Max. results to check: <input type='text' name='maxResults' value='100'/><br/>
<input type=submit value='Submit'/>
</form>
</body>
</html>
